<div>
    <div style="width: 600px; float: left;"> 
        <h2 class="title">Ranking of the best compagines.</h2>
        <ag-grid-angular (cellClicked)="foo($event)"
            style="width: 550px; height: 600px;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            >
        </ag-grid-angular>
    </div>
    <div style="margin-left: 620px;"> 
        <iframe width="300" height="6000" src="https://www.youtube.com/embed/0Puv0Pss33M; style: margin-top: 200px;" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
        </iframe> 
    </div>
</div>

