
<div class="wrapper">
<!-- Sidebar -->
    <nav class ="active sidebar">
        <ul class="list-unstyled components">
            <p>Categories</p>
            <li>
                <a href="#homeSubmenu" aria-expanded="false">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" aria-expanded="false">Pages</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li id="last">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>

</div>

