.donations {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
}
.donation {
  width: 30%;
  margin: 15px 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.donation-title {
  font-size: 16px;
  padding-left: 15px;
}
.donation-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
